<!DOCTYPE html>
 <html> 
    <head>
        <meta charset="utf-8">
        <title>teste</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/bulma.min.css">
    </head>
    <body>
        <section class="hero is-black">
            <div class="hero-body">
              <div class="container">
                <h1 class="title has-text-centered">
                  TO-DO TEST
                </h1>
              </div>
            </div>
          </section>

          <section class="section">
            <div class="columns">
                <div class="column is-4">
                  {% for update in get_flashed_messages(category_filter=['update']) %}

                  {% if update %}
                    <section class="section">
                      <div class="columns">
                        <div class="column is-half is-offset-one-quarter">
                              <article class="message is-success">
                                  <div class="message-header">
                                    <p>Atualizado</p>
                                    <button class="delete" aria-label="delete"></button>
                                  </div>
                                  <div class="message-body">
                                    Sua tarefa foi atualizada!
                                  </div>
                              </article>
                        </div>
                      </div>
                    </section>

                  {% endif %}

                {% endfor %}

                {% for delete in get_flashed_messages(category_filter=['delete']) %}

                  {% if delete %}
                    <section class="section">
                      <div class="columns">
                        <div class="column is-half is-offset-one-quarter">
                              <article class="message is-danger">
                                  <div class="message-header">
                                    <p>Deletado</p>
                                    <button class="delete" aria-label="delete"></button>
                                  </div>
                                  <div class="message-body">
                                    Sua tarefa foi deletada!
                                  </div>
                              </article>
                        </div>
                      </div>
                    </section>

                  {% endif %}

                {% endfor %}
                        <br>
                        <form id="task" method="POST">

                        <div class="field">
                            
                            <label class="label">O que você vai fazer?</label>
                            <textarea name="text-area" form="task" class="textarea" placeholder="Digite sua tarefa aqui..."></textarea>
                            
                        </div>
                            <div class="field">
                                <button class="button is-link">
                                Adcionar tarefa
                                </button>
                            </div> 
                        </form>

                </div>        
                <div class="column">


                    <section class="section">

                        {% for task in tasks %}
                        {% if task %}
                            <article class="message is-warning">
                              <div class="message-header">
                                <p>Criado em: {{ task.creation_time.day }}/
                                              {{ task.creation_time.month }}/
                                              {{ task.creation_time.year }}
                                </p>
                                <div class="field">
                                <a class="button is-light" href="{{ url_for('update',id=task.id) }}">Atualizar</a>
                                <a class='button is-light' href="{{ url_for('delete',id=task.id) }} ">deletar</a>  
                                </div>
                            
                              </div>
                                <div class="message-body">
                                  {{ task.task }}
                                </div>
                             
                            </article>
                        {% endif %}
                      {% endfor %}
          
                    </section>
                    </div>
              </div>
          </section>
        
       
    </body>
</html>